.Container {
  /*padding: 10px;*/
}

.Label {
  color: lightgray;
  padding: 0 5px 5px;
}

.Inline {
  display: inline-block;
}

.LabelTherefore {
  /*margin-left: calc(3.5em + 8px);*/
  color: #d9d9d9;
  font-size: 1.1em;
  display: inline-block;
  padding: 12px 10px;
}

.LabelTherefore span {
  margin-right: 10px;
  display: inline-block;
  color: #5df6ff;
}
