.Container {
  display: block;
  /*border-bottom: 2px dotted #00a1ff1a;*/
  height: 0.95em;
  margin-bottom: 10px;
  /*background: white;*/
  padding: 10px;
}

.Predicate,
.Subject,
.Quantity,
.Quality {
  display: inline-block;
}

.Quality,
.Quantity {
  /*width: 9em;*/
  /*display: inline-block;*/
  /*color: lightgray;*/
}

.Subject,
.Predicate {
  /*width: 7em;*/

}

.Quality {
  /*width: 4em;*/
  /*color: lightgray;*/
}

.Syllogism {
  color: gray;
  margin-bottom: 10px;
}

.Syllogism input,
.Syllogism select {
  font-size: 0.7em;
  font-family: 'Fira Code', monospace;
}

.Syllogism input {
  width: 120px;
  color: gray;
}
