.Container {
  display: block;
}

.Predicate,
.Subject,
.Quantity,
.Quality {
  display: inline-block;
}

.Quantity {
  /*width: 3.5em;*/
  /*color: lightgray;*/
}

.Subject,
.Predicate {
  /*width: 7em;*/
}

.Quality {
  /*width: 4em;*/
  /*color: lightgray;*/
}

.Syllogism {
  color: gray;
  margin-bottom: 10px;
}

.Syllogism input,
.Syllogism select {
  font-size: 0.7em;
  font-family: 'Fira Code', monospace;
}

.Syllogism input {
  width: 120px;
}
