.Analysis {
  margin-top: 1em;
}

.Proposition {
  margin: 0 0 10px;
  /*border-bottom: 1px solid lightgray;*/
}

.Proposition:last-child {
  /*border-bottom: none;*/
}

.InvalidArgument {
  background: red;
  color: white;
}

.ValidArgument {
  /*background: white;*/
  color: #0edef9;
  padding: 0;
  mix-blend-mode: multiply;
}

.ValidArgument span {
  color: black;
  border-bottom: 5px dotted #0edef9;
}

.Analysis quote {
  display: block;
  padding: 5px 0;
}

.WeakArgument {
  background: bisque;
  color: darkorange;
}

.DebugTitle {
  font-weight: bold;
}
