.Analysis {
  margin-top: 1em;
}

.Proposition {
  margin: 0 0 10px;
  /*border-bottom: 1px solid lightgray;*/
}

.Proposition:last-child {
  /*border-bottom: none;*/
}

.InvalidArgument {
  background: red;
  color: white;
}

.ValidArgument {
  background: white;
  color: #0edef9;
}

.ValidArgument span {
  text-decoration: underline;
}

.WeakArgument {
  background: bisque;
  color: darkorange;
}

.DebugTitle {
  font-weight: bold;
}
