.Deduction {
  background: white;
  padding: 5px 10px 10px 20px;
  border-top: 1px solid #b5fff6;
  border-bottom: 1px solid #b5fff6;
  border-right: 1px solid #b5fff6;
  background-size: 20px 20px;
  background-position: 0 -1px;
  background-image: 
    linear-gradient( to right, #d8faff 1px, transparent 1px),
    linear-gradient( to bottom, #d8faff 1px, transparent 1px);
}

.Analysis {
  margin-top: 1em;
  display: inline-block;
  padding: 20px;
}

.Proposition {
  /*background: white;*/
  margin: 10px 0;
  /*border-bottom: 1px solid lightgray;*/
}

.Proposition:last-child {
  /*border-bottom: none;*/
}

.InvalidArgument {
  background: red;
  color: white;
}

.ValidArgument {
  /*background: white;*/
  text-align: center;
  padding: 10px;
  mix-blend-mode: normal;
  /*float: right;*/
  text-align: left;
  background: transparent;
  color: #11859a;
}

.ValidArgument a {
  color: black;
  display: inline-block;
  margin: 0 5px;
  border-bottom: 5px dotted #0edef9;
}

.Analysis quote {
  display: block;
  padding: 5px 0;
}

.WeakArgument {
  background: bisque;
  color: darkorange;
}

.DebugTitle {
  font-weight: bold;
}
