body {
  background-size: 20px 20px;
  background-position: 3px 17px;
  /*background: white;*/
  background-image: 
    linear-gradient(
      to right,
      #b5fff6 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      #b5fff6 1px,
      transparent 1px
    );
  /*background-image: 
    radial-gradient(
      circle,
      gray
      1px,
      rgba(0, 0, 0, 0)
      1px
    );*/
}

.grid {
  /*background: #f1f1f1;*/
  /*min-height: 900px;*/
  width: 30em;
  margin: auto;
  height: 100%;
}

.nav {
  /*background: ghostwhite;*/
  z-index: 9;
  position: absolute;
  width: 700px;
  text-align: center;
  margin-top: -50px;
  margin-left: 70px;
  overflow: hidden;
  padding: 4px 0 4px 20px;

  background: yellow;
  mix-blend-mode: multiply;
  /*background-size: 20px 20px;
  background-image: 
    radial-gradient(
      circle,
      yellow,
      3px,
      rgba(0, 0, 0, 0)
      3px
    );*/
}

.nav li {
  list-style: none;
  padding: 10px 10px 7px;
  margin: 0;
  color: black;
  display: inline-block;
  float: left;
  /*border-right: 3px dotted black;*/
}

.nav li a {
  text-decoration: none;
  mix-blend-mode: difference;
  color: slategray;
  cursor: grabbing;
}

.nav li a:hover {
  mix-blend-mode: normal;
  background: #fdffde;
  color: black;
}

.nav li:last-child {
  float: right;
}

.logo {
  margin: 0;
  padding: 18px;
  font-weight: normal;
  text-align: center;
  font-size: 1.1em;
}

.logo {
  color: currentColor;
  text-align: left;
  margin-left: -15px;
}

.logo img {
  mix-blend-mode: initial;
}

.logo span {
  background: transparent;
  padding: 3px 20px;
}

footer {
  margin-top: 22px;
  padding: 10px 0 0;
  color: lightgray;
  border-top: 10px solid transparent;
}

footer p {
  text-align: center;
  color: gray;
  padding: 0px 0;
  font-size: 0.9em;
  margin-top: 0;
}

footer span {
  color: gray;
}

footer a {
  font-size: 0.8em;
  color: gray;
  text-decoration: none;
  cursor: grabbing;
}

footer a:hover {
  color: black;
  text-decoration: underline;
}