body {
  margin: 0;
  background-size: 20px 20px;
  background-position: 4px 17px;
  /*background: white;*/
  /*background-image: 
    linear-gradient( to right, #e1e1e1 1px, transparent 1px),
    linear-gradient( to bottom, #e1e1e1 1px, transparent 1px);*/
  /*background-image: 
    radial-gradient(
      circle,
      gray
      1px,
      rgba(0, 0, 0, 0)
      1px
    );*/
    /*font-size: 10px;*/
}

.grid {
  /*background: #f1f1f1;*/
  /*min-height: 900px;*/
  width: 39em;
  margin: auto;
  height: 100%;
}

.nav {
  /*background: ghostwhite;*/
  z-index: 9;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 10px;
  /*background: lightgray;*/
  mix-blend-mode: multiply;
  /*background-size: 20px 20px;
  background-image: 
    radial-gradient(
      circle,
      yellow,
      3px,
      rgba(0, 0, 0, 0)
      3px
    );*/
}

.nav li {
  list-style: none;
  padding: 10px 10px 7px;
  margin: 0;
  color: black;
  display: inline-block;
  float: left;
  /*border-right: 3px dotted black;*/
}

.nav li a {
  text-decoration: none;
  mix-blend-mode: difference;
  color: slategray;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid transparent;
}

.nav li a:active,
.nav li a.currentLink {
  border: 2px solid black;
  background: #f0ff89;
  color: black;
}

.nav li a:hover {
  mix-blend-mode: normal;
  background: #fdffde;
  color: black;
}

/*.nav li:last-child {
  float: right;
}
*/
.logo {
  margin: 0;
  padding: 17px;
  font-weight: normal;
  text-align: center;
  font-size: 1.1em;
  text-align: center;
}

.logo {
  color: currentColor;
  margin-left: -15px;
}

.logo img {
  mix-blend-mode: initial;
}

.logo span {
  background: transparent;
  padding: 3px 20px;
}

footer {
  margin-top: 22px;
  padding: 10px 0 0;
  color: lightgray;
  border-top: 10px solid transparent;
}

footer p {
  text-align: center;
  color: gray;
  padding: 0px 0;
  font-size: 0.9em;
  margin-top: 0;
}

footer span {
  color: gray;
}

footer a {
  font-size: 0.8em;
  color: gray;
  text-decoration: none;
  cursor: grabbing;
}

i {
  font-style: normal;
  color: lightgray;
}

footer a:hover {
  color: black;
  text-decoration: underline;
}

hr {
  border-left: 0;
  border-right: 0;
  border-top: 2px solid #afe6ff;
  border-bottom: 0;
  display: inline-block;
  width: 90%;
  margin-left: 5%;
}

pre {
  font-family: inherit;
  padding: 0;
  margin: 0 0;
  color: inherit;
  color: lightgray;
}

.preferences {
  padding: 10px 20px;
}

.preferences span {
  border-bottom: 2px solid currentColor;
}

.preferences span:first-child {
  display: inline-block;
}

.preferences span:last-child {
  display: inline-block;
  float: right;
}